@use "sass:map";

.l-footer {
  padding-top: map.get($spacers, 5);
  //<custom>
  //margin-top: auto;
  margin-top: map.get($spacers, 5);
  background-color: rgba(255, 255, 255, 0.01);
}

.footer-container {
  padding-top: map.get($spacers, 5);
  padding-bottom: map.get($spacers, 2);
  margin-top: map.get($spacers, 5);
  background: $gray-100;
}
